/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.07.2016, 16:19:00
    Author     : proph
*/

.reqTable {
	font-size:12px;
}

.reqTableRowOverdue {
	background-color:red;
}

.reqTableComentOdd {
	padding: 0;
	margin: 0;
	font-style: italic;
	color: Blue;
}

.reqTableComentEven {
	padding: 0;
	margin: 0; 
	font-style: normal;
	color: black;
}
