.navbar {
	background-image: url(../images/nav-bg.png);
	/*border-color: #3a7dac;*/
}

.navbar-default
{background-color:#468ec1;border-color:#3a7dac}
.navbar-default .navbar-brand
{color:white}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
{color:#e6e6e6;background-color:transparent}
.navbar-default .navbar-text
{color:#777777}
.navbar-default .navbar-nav>li>a
{color:white}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
{color:white;background-color:transparent}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
{color:white;background-color:#3a7dac}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus
{color:#cccccc;background-color:transparent}
.navbar-default .navbar-toggle
{border-color:#dddddd}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
{background-color:#dddddd}
.navbar-default .navbar-toggle .icon-bar
{background-color:#888888}
.navbar-default .navbar-collapse,.navbar-default .navbar-form
{border-color:#3a7dac}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
{background-color:#3a7dac;color:white}

.navbar-default .navbar-link
{color:white}
.navbar-default .navbar-link:hover
{color:white}
.navbar-default .btn-link
{color:white}
.navbar-default .btn-link:hover,.navbar-default .btn-link:focus
{color:white}
.navbar-default .btn-link[disabled]:hover,.navbar-default .btn-link[disabled]:focus,fieldset[disabled] .navbar-default .btn-link:hover,fieldset[disabled] .navbar-default .btn-link:focus
{color:#cccccc}

.b-yellow-strip {
	background: #ffdd00;
	height: 5px;
	line-height: 5px;
	font-size: 0px;
}
.b-green-strip {
	background: #54b948;
	height: 5px;
	line-height: 5px;
	font-size: 0px;
}

html,
body {
    height: 100%;
	padding-top: 35px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
